<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ruff Days</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Ruff Days</a>
      </h1>
    </header>

    <div class="blurb">
      <p>
        The pandemic has left us all a little weird after years of isolation. Social skills in most of us are lacking,
        at best. The only member of the family who is still able to make friends is the dog, so why not exploit that
        talent?! Set up a page for your dog, upload a photo and some basic information, then log in to find other
        socially inept weirdos to bond with!
      </p>
    </div>
    <nav>
      {{#if loggedIn}}
      <a href="/dashboard">Dashboard</a>
      <button id="logout" class="btn-no-style">Logout</button>
    </nav>
    {{else}}
    <nav>
      <div class="flex-container">
        <div class="btn flex-child">
          <h2>
            <a href="/login">Login</a>
          </h2>
        </div>
        <div class="flex-child">
        </div>
        <div class="btn flex-child">
          <h2>
            <a href="/signup">Sign Up</a>
          </h2>
        </div>
      </div>
    </nav>
    <main>
      {{{ body }}}
    </main>
    {{/if}}
    <footer>
      Sniff you next time!
    </footer>
  </div>

  {{#if loggedIn}}
  <button><a href="/logout">Logout</a></button></button>
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>