<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ruff Days</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Ruff Days</a>
      </h1>
      {{!-- <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        </br>
        <a href="/signup">Sign Up</a>
        {{/if}}
      </nav> --}}
    </header>
    <main>
      <nav>
        <button><a href="/login">Login</a></button>
      </nav>
      </br>
      <nav>
        <button><a href="/signup">Sign Up</a></button>
      </nav>
      {{{ body }}}
    </main>
    <footer>
      Sniff you next time!
    </footer>
  </div>

  {{#if loggedIn}}
    <button><a href="/logout">Logout</a></button></button>
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
</html> 