<section>
    <h2>Create New Dog</h2>

    <form class="new-post-form">
        <div>
            <label for="post-dogname">Dog Name</label>
            <input type="text" id="post-dogname" name="post-dogname" />
        </div>
        <div>
            <label for="breed">Breed</label>
            <input type="text" id="breed" name="breed" />
        </div>
        <form action="/post" method="post" enctype="multipart/form-data">
            <input type="file" name="image" />Upload Photo
        </form>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-profile.js"></script>