:root {
  --primary: #ffffff;
  --secondary: #daeaef;
  --tertiary: black;
  --light: #ffffff;
  --dark: #272f32;
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--primary);
  height: 1000px;
  padding: 0;
  font-family: sans-serif;
  color: var(--tertiary);
  background: url('../images/hannah-lim-U6nlG0Y5sfs-unsplash-copy.jpg');
  /* Photo by <a href="https://unsplash.com/@hannah15198?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hannah Lim</a> on <a href="https://unsplash.com/s/photos/dogs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background-repeat: no-repeat;
  background-size: cover
}

body div .login {
  width: 25%;
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
  border-radius: 10%;
  text-align: center;
}

body nav {
  width: 25%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  margin-bottom: auto;
  margin-top: 25%;
  border-radius: 10%;
  text-align: center;
}


a {
  text-decoration: none;
  color: var(--tertiary);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: white;
}


button {
  background-color: var(--primary);
  border: 0;
  padding: 1%;
  color: var(--dark);
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  color: black;
  background-color: green;
}

.like-btn {
  background-color: var(--tertiary);
  transition: background-color .1s;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 2px solid var(--tertiary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1%;
  background-color: var(--primary);
  opacity: .8;
  position: sticky;
  top: 0;
  width: 100%;
  border-radius: 25px;
  text-shadow: 1px 1px var(--dark);
  color: var(--tertiary)
}

header h1 {
  font-size: 2.5em;
}

main {
  flex: 1;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 150%;
  background-color: var(--primary);
  border-radius: 25px;
  text-shadow: 1px 1px var(--dark);
  font-weight: 600;
}
